* {
   margin: 0;
   padding: 0;
}

a {
   font-family: "Roboto", sans-serif;
   color: rgb(249, 249, 249);
   text-transform: capitalize;
   word-spacing: 3px;
   text-decoration: none;
   font-size: 1.3 rem;
}

li {
   list-style: none;
}

input {
   border: none;
   background: none;
   padding: 0;
   margin: 0;
   text-align: center;
   color: white;
   font-family: Georgia, "Times New Roman", Times, serif;
   font-weight: 300;
   font-style: italic;
}

.bg-art {
   // background: url(../assets/painting01-Frith_A_Private_View.jpg);
   background: url(../assets/painting01-Frith_A_Private_View.jpg);
   background-size: cover;
   width: 100%;
   z-index: 0;
}

canvas {
   margin: 0;
   padding: 0;
   position: absolute;
   left: 50%;
   top: 50%;
   z-index: -10;
}
.container {
   display: flex;
   width: 100%;
   // max-width: 1440px;
   height: 100vh;
   overflow: hidden;
}

.nav {
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   width: 480px;
   display: flex;
   flex-flow: column;
   overflow: hidden;
   align-items: center;
   background-image: linear-gradient(45deg, #f4353b 0%, #e81a1a 99%, #ff1c1cc9 100%);
}

.svgContainer {
   position: relative;
   width: 100%;
   height: 234px;
}
#logo {
   position: absolute;
   left: 0;
   right: 0;
   top: 45px;
   margin: 0 auto;
   width: 300px;
   fill: white;
}

// =========== Search bar

      #searchBar {
         position: absolute;
         top: 300px;
         bottom: 0;
         height: 60px;
         width: 300px;
         background: rgba(255, 255, 255, 0.08);
         border-radius: 5px;
         display: flex;
         transition: all, 0.35s;
         #searchIcon {
            transform: scale(0.8);
            transition: all, 0.35s;
            margin-left: 15px;
            height: auto;
         }
         #searchInput {
            position: absolute;
            width: 100%;
            bottom: 0;
            right: 0;
            height: 100%;
         }
      }
      #searchIcon g {
         stroke: rgb(255, 233, 233);
         transition: stroke, 35s;
      }

      #searchBar:hover {
         background-color: rgba(255, 255, 255, 0.137);
         #searchIcon {
            transform: scale(1);
         }
         #searchIcon g {
            stroke: rgb(255, 255, 255);
         }
      }

#searchLine {
   width: 0px;
   height: 3px;
   background: rgb(232, 232, 232);
   position: absolute;
   left: 50px;
   bottom: 10px;
   border-radius: 10px;
   z-index: 10;
}

#search {
   position: absolute;
}

input::placeholder {
   font-family: Georgia, "Times New Roman", Times, serif;
   font-style: italic;
   font-size: 0.9rem;
   color: rgb(255, 255, 255);
   z-index: 10;
   opacity: .9;
}

// Nav Icon Links
.navIcons {
   position: absolute;
   top: 360px;
   width: 300px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   overflow: hidden;
   display: none;
}

.icon-con {
   height: 80px;
   width: calc(100% / 3);
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   .icon {
      transition: all, .25s;
   }
}

.icon-con:hover {
   .icon {
      transform: scale(1.2)
   }
}

// Nav Links
.linkContainer {
   position: absolute;
   top: 380px;
   display: flex;
   flex-flow: column;
   overflow: hidden;
   width: 100%;
   li {
      flex-grow: 1;
      height: 50px;
      display: flex;
      align-items: center;
      transition: all, 0.35s;
      cursor: pointer;
      a {
         padding-left: 30px;
         margin: 0 auto;
         transition: all, 0.35s;
         width: 300px;
      }
   }
   li:hover {
      background: rgba(67, 67, 67, 0.219);
      a {
         transform: translateX(20px);
      }
   }
}

#visitorInfo {
   position: absolute;
   right: 0;
   width: calc(100% - 480px);
   height: 100%;
   // opacity: .;
   // background: rgba(14, 14, 14, 0.763);
   background: rgba(0, 0, 0, 0.76);
   // border: 1px solid red;
}


